<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.moonlight.reminder">

    <application
        android:allowBackup="true"
        android:icon="@drawable/reminder"
        android:label="@string/app_name"
        android:roundIcon="@drawable/reminder"
        android:supportsRtl="true"
        android:theme="@style/Theme.Reminder">
        <activity android:name=".splash">   <intent-filter>
            <action android:name="android.intent.action.MAIN" />

            <category android:name="android.intent.category.LAUNCHER" />
        </intent-filter></activity>
        <activity android:name=".rating" />
        <activity android:name=".addiv" />
        <activity android:name=".MainActivity">

        </activity>
        <activity android:name=".notis"/>
        <receiver android:name=".AlarmManagerBroadcast" />
        <receiver android:name=".notirec" />
    </application>

</manifest>